<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Set DashboardActivity as the launcher activity -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-->
<!--            android:name=".activity.MainActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
<!--                android:resource="@xml/device_filter" />-->
<!--        </activity>-->

        <activity
            android:name=".activity.BleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Preview2Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Preview3Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OscActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CameraFilesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PlayAndExportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MoreSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StitchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FwUpgradeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomDemoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BluetoothScannerActivity" />
        <activity android:name=".activity.DeviceListActivity" />
        <activity android:name=".activity.MediaFilesActivity" />
    </application>

</manifest>